
.intro {
  padding: 10px;
}

.font1{
  font-size: 48px;
}

.Wrapper {
  display: flex; 
  max-width: 120vh; 
  margin: 0 auto; 
}

.leftWrapper, .rightWrapper {
  flex: 1; 
  padding: 100px; 
  width: 60vw;
  height: 40vh;
  margin-right: 20px;
  background: #d09fe0;
  text-align: left;
  margin-bottom: 100px;
  border-radius: 20px;
}

.leftWrapper {
  background-color: #112240; 
}

.rightWrapper {
  background-image: url('../assets/prof_1.png'); 
  background-size: cover; 
  background-position: center; 
}


/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  .introTitle {
    font-size: 1.5rem;
  }

  .introSubtitle {
    font-size: 1rem;
  }

  .introDesc {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Media Query for Responsive Design */
@media screen and (max-width: 640px) {
  .Wrapper {
    display: block;
    max-width: none;
  }

  .leftWrapper, .rightWrapper {
    width: 90%;
    /* margin-right: 0; */
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}