
.Navbar{
    position: fixed;
    width: 100%; 
    z-index: 1000; 
}

.NavbarList {
    margin: 0;
    padding: 10px;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    
    cursor: pointer;
    
}

.NavbarItem1 {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavbarItem {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.NavbarItem:hover {
    background-color: #d09fe0;
    border-radius: 5px;
}

.LogoImage{
  width: 100%;
  height: auto;
  object-fit: cover
}

a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
