.wrapper {
  max-width: 120vh;
  margin: auto;
}

.sliderContainer {
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030; 
  padding: 130px; 
  margin-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.slideImage {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.projects-container {
  max-width: 90vh;
  margin: auto;
  padding-bottom: 20px; 
}


  .sidebarHeader {
    display: flex;
    align-items: center;
  }
  
  .horizontalRule {
    flex-grow: 1;
    border: 0;
    height: 1px;
    background-color: #ccc;
  }
  
  .headerTitle {
    font-size: 32px;
    margin-right: 10px;
  }  
  
  .custom-slider {
    border-bottom: 1px solid #ddd; 
  }
  
  .slick-prev,
  .slick-next {
    color: #000; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
  }
  
  .grid-item {
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
  }

  .cardWrapper {
    display: 'flex', 
  }

  .card {
    border: 8px;
    padding: 90px;
    margin: 6px;
    width: calc(33.33% - 20px); 
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    background-color: #112240;
    height: 350px;
  }
  
  
.iconContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px; 

}
.iconContainer2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px; 
  
}

.iconContainer a {
  color: inherit; 
}

  @media (max-width: 767px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  
  .slick-prev,
  .slick-next {
    color: #000;
  }
       